p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    padding-left: 50px;
    margin-top: auto;
    height: 60px;
    line-height: normal;
    width: 100%;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(247, 194, 234), rgba(223, 223, 223, 0.788))
    
}
body{
    color: rgb(15, 15, 15);
    background-color: rgb(253, 239, 250);
    height: 10px;
    width: auto;
}

